* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
}

.banner {
  position: sticky;
  top: 0px;
}

h1 {
  text-align: center;
  font-size: 80px;
  background-color: darkslategrey;
  color: #c4bdbd;
  padding: 10px;
  margin: 10px 5px 0px 5px;
  border: solid 1px rgb(231, 235, 241);
  border-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: darkslategray;
  border: solid 1px rgb(231, 235, 241);
  border-top: 0px;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
  margin: 0px 5px 5px 5px;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  background-color: darkslategray;
  padding: 4px 13px;
  border-radius: 10px;
}

body {
  background-color: rgb(204, 203, 171);
  width: 100%;
}

.cover-picture {
  object-fit: cover;
  width: 99.4%;
  height: 450px;
  margin: 5px;
  border: solid 1px rgb(231, 235, 241);
  border-radius: 10px;
}

.subtitle {
  background-color: darkslategray;
  color: rgba(240, 236, 7, 0.863);
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  padding: 5px;
  border: 1px solid rgb(245, 240, 240);
  border-radius: 10px;
  margin: 5px;
}

main {
  position: relative;
}

section,
.container-section {
  display: flex;
}

.logo {
  background-color: darkslategray;
  border: solid 1px rgb(231, 235, 241);
  border-radius: 10px;
  margin: 5px;
  min-height: 250px;
  max-height: 500px;
  max-width: 315px;
}

.text-main {
  margin: 5px;
  background-color: darkslategray;
  color: white;
  width: 1200px;
  font-size: 14px;
  padding: 10px 20px 20px 10px;
  border: 1px solid rgb(245, 240, 240);
  border-radius: 10px;
}

.index-text {
  padding: 40px;
  font-size: 20px;
}

.indent_text {
  text-indent: 30px;
}

.last-image {
  object-fit: cover;
  width: 19%;
  min-height: 250px;
  max-height: 500px;
  margin: 5px;
  border: solid 1px rgb(231, 235, 241);
  border-radius: 10px;
}

.active {
  color: rgba(240, 236, 7, 0.863);
}

.button:hover {
  background-color: rgba(240, 236, 7, 0.863);
  color: darkslategray;
}

/* New rules page options */

.principal-list > li {
  margin: 20px;
}

.especial-list {
  list-style-type: circle;
  position: absolute;
  left: 60px;
}

.rules-sub {
  color: white;
  background-color: darkslategray;
  font-size: 20px;
  padding: 5px;
  border: 1px solid white;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
}

.rules-div {
  margin: 5px;
  border: 1px solid darkslategray;
  border-radius: 10px;
  padding: 10px;
}

.contact {
  margin: 20px;
  padding: 5px;
  font-size: 25px;
}

.email {
  text-decoration: none;
  padding: 4px;
  color: rgba(240, 236, 7, 0.863);
  border-radius: 5px;
}

.email:hover {
  color: darkslategray;
  background-color: rgba(240, 236, 7, 0.863);
  border: 1px solid white;
}

article {
  margin: 20px;
  padding: 10px 5px;
}

.especial-list {
  list-style-type: circle;
  position: relative;
  left: 60px;
}

.table-options {
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

td,
tr {
  color: black;
  padding: 5px;
  border: 5px;
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: center;
}

caption {
  padding: 10px;
  border: solid 1px darkslategray;
  border-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
}

footer {
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid darkslategray;
}

#special-title {
  padding: 8px 20px;
  font-size: 28px;
}

.contact-coordinator {
  padding: 2px;
  color: darkslategrey;
  text-decoration: none;
}

.contact-coordinator:hover {
  color: rgba(240, 236, 7, 0.863);
  background-color: darkslategray;
  border-radius: 5px;
  border: 1px solid darkslategray;
}
