* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  text-align: left;
  font-size: 65px;
  background-color: white;
  color: black;
  padding: 1px;
}

nav {
  position: absolute;
  left: 78%;
  top: 72px;
}

.button {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  margin: 2px;
  border: 1px solid black;
  padding: 4px 14px;
  text-decoration: none;
  box-shadow: 4px 4px 1px -1px #606455;
}

.button:link {
  background-color: rgb(068, 114, 196);
}

/* Three extra optional green config */

.button:focus {
  background-color: rgb(114, 155, 54);
}

.button:hover {
  background-color: rgb(6, 126, 6);
}

.button:active {
  background-color: rgb(114, 155, 54);
}

.active {
  background-color: rgb(112, 173, 71);
}

.cover-picture {
  width: 100%;
  height: 375px;
  object-position: 0px 3px;
}

.subtitle {
  position: relative;
  top: -5px;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  padding: 1px;
  border: 1px solid black;
}

.logo {
  position: relative;
  height: 150px;
  left: 60px;
  top: 20px;
}

.text-main {
  position: absolute;
  text-align: left;
  top: 460px;
  left: 230px;
  margin: 80px;
}

.indent_text {
  text-indent: 20px;
}

.contact {
  position: absolute;
  font-size: 18px;
  top: 480px;
  left: 230px;
}

article {
  margin: 8px 0px 8px 0px;
  padding: 4px;
}
